<!-- Mensaje-->
<div id="mensaje"></div>

<!-- Modal-->
<div class="modal" tabindex="-1" id="crearModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Insertar Persona</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <form id="formulario">
        <div class="input-group my-4">
            <label for="dni" class="input-group-text">DNI:</label>
            <input type="number" required name="dni" id="dni" class="form-control">
        </div>
        <div class="input-group my-4">
            <label for="nombre" class="input-group-text">Nombre:</label>
            <input type="text" required name="nombre" id="nombre" class="form-control">
        </div>

        <button type="submit" class="btn btn-success form-control my-2">Aceptar   <i class="bi bi-check"></i></button>
        
        <button type="button" class="btn btn-danger form-control my-2" data-bs-dismiss="modal">Cerrar   <i class="bi bi-x-circle"></i></button>
    
    </form>
    </div>
        <div class="modal-footer">
        
        </div>
      </div>
    </div>
  </div>

<!-- Botón llamar Modal-->
<button class="btn btn-success form-control my-4" id="crear">Insertar Persona   <i class="bi bi-plus-circle"></i> </button>


<!-- DataTable-->
<table class="table table-info" id="tabla">
    <thead>
        <tr>
            <th>#</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>

<!-- Mostrar Modal-->
<div class="modal" tabindex="-1" id="mostrarModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Datos de </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-info" >
          <thead>
              <tr>
                  <th>#</th>
                  <th>DNI</th>
                  <th>Nombre</th>
              </tr>
          </thead>
          <tbody>
            <td id="mostrarId"></td>
            <td id="mostrarDni"></td>
            <td id="mostrarNombre"></td>
          </tbody>
      </table>

     
      
      <button type="button" class="btn btn-danger form-control my-2" data-bs-dismiss="modal">Cerrar   <i class="bi bi-x-circle"></i></button>
  

  </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>


<!-- Editar Modal-->
<div class="modal" tabindex="-1" id="editarModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Persona</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form id="formEditar">
      <div class="input-group my-4">
          <label for="dni" class="input-group-text">DNI:</label>
          <input type="number" required name="editarDni" id="editarDni" class="form-control">
      </div>
      <div class="input-group my-4">
          <label for="nombre" class="input-group-text">Nombre:</label>
          <input type="text" required name="editarNombre" id="editarNombre" class="form-control">
      </div>

      <button type="submit" class="btn btn-warning form-control my-2">Actualizar   <i class="bi bi-arrow-repeat"></i></button>
      
      <button type="button" class="btn btn-danger form-control my-2" data-bs-dismiss="modal">Cerrar   <i class="bi bi-x-circle"></i></button>
  
  </form>
  </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>