<table class="table table-info">
    <thead>
        <tr>
            <th>#</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-info">Mostrar <i class="bi bi-eye"></i></button>
                <button class="btn btn-warning">Editar   <i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-danger">Eliminar <i class="bi bi-eraser"></i></button>
            </td>
        </tr>
    </tbody>
</table>
