<table class="table table-info">
    <thead>
        <tr>
            <th>#</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas">
            <td>{{persona.id}}</td>
            <td>{{persona.dni}}</td>
            <td>{{persona.nombre}}</td>
            <td>
                <button (click)="mostrar(persona)" class="btn btn-info mx-2">Mostrar <i class="bi bi-eye"></i></button>
                <button (click)="editar(persona)"  class="btn btn-warning mx-2">Editar   <i class="bi bi-pencil-square"></i></button>
                <button (click)="eliminar(persona)" class="btn btn-danger mx-2">Eliminar <i class="bi bi-eraser"></i></button>
            </td>
        </tr>
    </tbody>
</table>
