
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
   <h2 class="h2 text-center text-info">Personas</h2>
  </div>
  <div class="col-lg-2"></div>
</div>


<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="input-group my-4">
   <a (click)="index()" class="btn btn-success mx-4 my-4 form-control" > Mostrar Personas   <i class="bi bi-card-list"></i>    </a>
   <a (click)="create()" class="btn btn-success mx-4 my-4 form-control" > Insertar Persona   <i class="bi bi-plus-circle"></i>    </a>
  </div>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
  <router-outlet></router-outlet>
  </div>
  <div class="col-lg-2"></div>
</div>